@import url(https://webdraft.hu/fonts/classic-console/fonts/clacon2.woff2);
@import url(https://fonts.googleapis.com/css2?family=Libre+Barcode+128&display=swap);

body,footer,header{
    padding:0; 
    margin-top: 10px;
}

#mydiv,footer,header{
    text-align:center
}

#mydiv,#mydivheader,body{
    background-color:#000;
    color:#fff
}

@font-face{
    font-family:'Classic Console';
    src:url('https://webdraft.hu/fonts/classic-console/fonts/clacon2.woff2') format('woff2')
}

*{
    font-family:'Classic Console',monospace;
}

body{
    margin:0;
    cursor:default;
    animation: 0.7s ease-in-out forwards fadeIn;
}

header{
    font-family:minecraftia,sans-serif!important;
    font-size:13px;
    letter-spacing:15px
}

main{
    padding:45px
}

footer{
    font-family:'Libre Barcode 128',system-ui;
    font-size:20px;
    position:fixed;
    bottom:0;
    width:100%
}

@keyframes fadeIn{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}

#mydiv{
    position:absolute;
    z-index:9;
    border:2px solid #fff;
    transform:translate(-50%,-50%);
    width:400px;
    left:50%;
    top:50%
}

#left-image{
    position:absolute;
    left:10px;
    top:10px;
    z-index:10;
    width:47px;
    height:auto
}

#myDiv p{
    margin-bottom:10px
}

#mydivheader{
    padding:15px;
    z-index:1;
    position:relative
}

#mydivheader:after{
    content:"";
    display:block;
    width:30%;
    height:2px;
    background-color:#fff;
    margin:0 auto
}

:root {
    --background: #000000;
    --header: #C70039;
    --smaller: #dbefff;
    font-family: 'Classic Console';
}

* {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-style: normal;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    box-sizing: unset !important;
}

body {
    background-color: var(--background);
    overflow: hidden !important;
}

.main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    color: var(--header);
    text-shadow: 0px 0 var(--header);
    font-size: 50px;
    text-align: center;
    animation: flicker 2s ease-in-out infinite;
}

.smaller {
    color: var(--smaller);
    text-shadow: 0px 0 var(--header);
    font-size: 20px;
    text-align: center;
}

        .buttons {
            margin-top: 20px;
        }

        .button {
            display: inline-block;
            margin: 5px;
            padding: 10px 20px;
            background-color: #C70039; /* Change to desired color */
            color: #C70039;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            border-radius: 5px; /* Adjust if you want rounded corners */
        }

        .button:hover {
            background-color: #000000; /* Change to desired hover color */
        }
